body{ 
    margin:0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(23, 18, 30);
    color: white;
    padding: 20px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold; 
}
a:first-child{
    padding-left: 10px;
}
#link{
     padding: 0 10px;
     font-weight: normal;
     color:rgb(145, 165, 170)
}
#dropdown{
    background-color: rgb(23,18,30);
    color: rgb(145, 165, 170);
    border: 0;
}
.disabled{
    border: 0;
    background-color: rgb(23,18 ,30 );
    color: rgb(123, 105, 105);
}
.search{
   padding-top: 7px;
   padding-bottom: 5px;
   margin-top: -5px; 
   border-radius: 5px;
}
#arama{
    background-color: rgb(23,18,30);
    color: green;
    border:1px solid green;
    padding: 7px;
    border-radius: 5px;
}
h1{
    display: inline;
    padding-right: 10px;
    font-size: 20px;
}