body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#green{
    grid-column: 1/ span 3;
}
#yellow ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#red{
    grid-column: 2/ span 1;
    grid-row: 2;  
}
#blue{
    grid-column: 3/ span 1;
    grid-row: 2/ span 2;
}
#orange{
    grid-column: 1/ span 2;
}
#red ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
